.login{
    width:100vw;
    height:100vh;
    display: flex;
    background-color: #023e8a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginwrapper{
    width:70%;
    height: 70%;
    display: flex;
}

.leftlogin,
.rightlogin
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 6rem;
    font-weight: 800;
    color:white;
    margin-bottom: 1.2rem;
}
.logindesc{
    font-size: 5rem;
}

.loginsection{
    height: 50rem;
    padding:1.5rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputlogin{
    height: 3rem;
    border-radius: 0.8rem;
    border:1px solid grey;
    font-size: 2rem;
    padding-left: 1.5rem;
}

.inputlogin:focus{
    outline: none;
}




