.login{
    width:100vw;
    height:100vh;
    display: flex;
    background-color: #023e8a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginwrapper{
    width:70%;
    height: 70%;
    display: flex;
}

.leftlogin,
.rightlogin
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 6rem;
    font-weight: 800;
    color:white;
    margin-bottom: 1.2rem;
}
.logindesc{
    font-size: 5rem;
}