.login{
    width:100vw;
    height:100vh;
    display: flex;
    background-color: #023e8a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginwrapper{
    width:70%;
    height: 70%;
    display: flex;
}

.leftlogin,
.rightlogin
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 6rem;
    font-weight: 800;
    color:white;
    margin-bottom: 1.2rem;
}
.logindesc{
    font-size: 5rem;
}

.loginsection{
    height: 40rem;
    padding:1rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputlogin{
    height: 2.5rem;
    border-radius: 0.5rem;
    border:1px solid grey;
    font-size: 1rem;
}

.inputlogin:focus{
    outline: none;
}



.registerbtn{
    height: 2.5rem;
    border-radius: 0.5rem;
    border:none;
    background-color: #023e8a;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    cursor:pointer
}

.loginbtn{
    height: 2.5rem;
    border-radius: 0.5rem;
    border:none;
    background-color: #023e8a;
    color:white;
    font-size: 1rem;
    font-weight: 500;
    cursor:pointer;
    text-decoration:none;
    
}